@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/navigation.css";
@import "components/screen-header.css";

/*Screen*/
@import "screen/login.css";
@import "screen/friends.css";

body{
    font-family: 'Nanum Gothic', sans-serif;
    height: 1000vh;
    color: #2e363e;
}
